*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: monospace;
}

.heading{
    margin: 1.5rem;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2b2b2b;
    justify-content: space-around;
}

.nav_links{
    display: flex;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 1rem;
    display: block;
}

ul li a:hover{
    color: rgb(125, 108, 236);
    transition: 0.3s ease-in-out;
}

.down_btn{
    border: 1px solid #fff;
    border-radius: 1rem;
    background-color: slateblue;

}

.down_btn:hover{
    background-color: #2b2b2b;
    transition: 0.3ms ease-in-out;
    color: #fff;
}

.toggle-button{
    position: absolute;
    top: 2.2rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar1{
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 650px){
    .toggle-button{
        display: flex;
    }

    .nav_links{
        display: none;
        width: 100%;
        align-items: center;
    }

    .navbar{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .nav_links{
        flex-direction: column;
    }

    .nav_links.active{
        display: flex;
    }

}
